.fa-laptop-code {
    color: rgb(16, 176, 104);
}

#cardsizing {
    
    box-shadow: 10px 10px 10px rgb(122, 129, 126);
    border-bottom: 10px;
    
}
.cardTotal {
    background: #343a40;
    color: rgb(29, 174, 109);
}

.card-header {
    /* display: flex;
    justify-content: space-between; */
    background-color: rgb(18, 101, 64) !important;
    color: white;
}

.navbarName {
    color: wheat;
}

#editBtn {
    display: flex;
    justify-self: end;
}
.card {
    box-shadow: rgb(18, 101, 64, .4);
}

.headerBtns {
    display: flex;
    justify-content: flex-end;
}

.mapping {
    padding: 3%;
}
.card-title {
    color: wheat;
}

#commentsInCards {
    color: white;
}