/* body {
    background: url('https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
} */



.fa-laptop-code {
    color: rgb(29, 174, 109)
}

/* .everything-enclosed {
    background: #343a40;
} */